<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/_mainLayout">
<div layout:fragment="content">
    <h1>Detalles del Estudiante Grupo</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">ID</dt>
            <dd class = "col-sm-10" th:text="${estudianteGrupo.id}"></dd>

            <dt class = "col-sm-2">Docente</dt>
            <dd class = "col-sm-10" th:text="${estudianteGrupo.estudiante.nombre}"></dd>

            <dt class = "col-sm-2">Grupo</dt>
            <dd class = "col-sm-10" th:text="${estudianteGrupo.grupo.nombre}"></dd>

        </dl>

        <a th:href="@{/estudianteGrupos/edit/{id} (id = ${estudianteGrupo.id}) }" class="btn btn-primary">Editar</a> |
        <a th:href="@{/estudianteGrupos}" class="btn btn-secondary">Regresar</a>
    </div>
</div>
</html>