<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainlayout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <h1>Crear nuevos Estudiantes</h1>
    <form th:action="@{/Estudiantes/save}" th:object="${estudiante}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el Nombre del Estudiante" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Escriba el Correo del Estudiante" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pin">Pin</label>
                    <input type="text" class="form-control" th:field="*{pin}" id="pin" placeholder="Escriba el Pin del Estudiante" required>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/Estudiantes}" class="btn btn-secondary">Regresar</a>
    </form>
</div>
</html>